* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.s1 {
  color: red;
}

.flex_container {
  display: flex;
  flex-direction: row;
  /* height: 40px; */
  justify-content: center;
  margin-top: 80px;
  gap: 50px;
  /* border: 1px solid red; */
  /* box-shadow: 2px 3px 3px 2px; */
}

.box {
  /* border: 0.5px solid black; */
  border-radius: 15px;
  width: 550px;
}

.image_div {
  /* border: 1px solid red; */
  border-radius: 15px;
}

.image_div > img {
  width: 100%;
}

.details_div {
  padding: 25px;
}

.title {
  margin: 20px 0;
}

.lists {
  margin: 20px 0;
}

ul > li {
  margin: 20px;
}

.btn_div {
  margin-top: 50px;
}

.btn_div > button {
  background-color: red;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  font-weight: 1000;
}
